* {
  box-sizing: border-box;
}

body {
  background: #00ffa5;
  color: #203e86;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Flow Block", cursive;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

.glitch {
  font-size: 5em;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
}
